.App {
  text-align: center;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  font-size: calc(10px + 2vmin);
  color: white;
}

.top-bar {
  width: 100%;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding: 10px 20px;
  background-color: #20232a;
  position: fixed;
  top: 0;
  left: 0;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  z-index: 1;
  /* 确保顶栏在最前 */
}

.head-image {
  margin-right: auto;
  margin-bottom: auto;
  height: 60px;
  /* 根据需要调整 */
}

.welcome {
  font-size: 0.6em;
  margin-right: 10px;
  margin-top: 20px;
  align-self: flex-start;
}

.top-button {
  background-color: #61dafb;
  border: none;
  padding: 10px 20px;
  font-size: 0.6em;
  margin-right: 40px;
  color: #20232a;
  cursor: pointer;
  border-radius: 5px;
}

.top-button:hover {
  background-color: #21a1f1;
}

.background-image {
  width: 100%;
  height: auto;
  margin-top: 60px;
  /* 确保背景图片不被顶栏遮挡 */
}

img {
  margin-top: 20px;
  margin-right: 40px;
  border-radius: 10px;
}

.nav-link {
  display: inline-block;
  padding: 10px 20px;
  margin: 10px;
  background-color: #007bff;
  color: white;
  text-decoration: none;
  border-radius: 5px;
  text-align: center;
  font-size: 16px;
}

.nav-link:hover {
  background-color: #0056b3;
}

.nav-link:active {
  background-color: #004085;
}